* {
    margin: 0px;
    font-family: sans-serif;
}


/* nav bar */
.nav{
    height: 50px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    position: relative;
}

.nav-header {
    display: inline;
}

.nav-title {
    display: inline-block;
    font-size: 22px;
    color: aliceblue;
    padding: 10px;
}

.nav-links {
    display: inline;
    float: right;
    font-size: 17px;

}

.nav-links > a {
    display: inline-block;
    padding: 13px;
    text-decoration: none;      /* tar bort understreck på länkar */
    color: aliceblue;
}

.nav-links > a:hover {
    background-color: rgb(155, 191, 157);
}

/* Header*/
.headline {     
    width: 100%; /* 100 procent av skärmen */
    height: 25vh;
    min-width: 200px;
    background-size: cover;     /*Bilden anpassar bilden till storleken av sektionen/diven*/
    background-image: linear-gradient(
        to bottom, 
        rgb(98, 61, 192), 
        rgb(36, 189, 161)
        );   
}

.headline > h1,
.headline > p {
    text-align: center;
    padding: 1rem;
    color: aliceblue;
    font-size: xx-large;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        /* staplar cardName ovanpå varandra om man krypmper fönstret*/
    padding: 10%;
}

.card {
    width: 250px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 10px 18px grey;
}

.image {        /* Så att det finns en bakgrund ifall bilden inte skulle visas*/
    background-color: blue;
    height: 200px;
    background-size: cover;
}

.card-1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvoH6ANKZnLqnf4wyiTVb6pqUXetN6Iy6dsA&usqp=CAU);
}

.content {
    margin: 10px;
    text-align: center;
    padding: 0, 10px, 10px;
}

.content h3 {
    text-align: left;
}

.btn {
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    color: black;
    margin-top: 15px;
    padding: 10px 23px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: antiquewhite;
    border: none;
    transition: 0.5s;
    transform: scale(1.1); /* hur mycket knappen ska växa*/
}


.footer{
    height: 90px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    position: relative;
}

.footer-header {
    display: inline;
}

.footer-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(8, 8, 9);
    padding: 10px;
}

.footer-links {
    display: inline;
    float: right;
    font-size: 17px;

}

.footer-links > a {
    display: inline-block;
    padding: 13px;
    text-decoration: none;      /* tar bort understreck på länkar */
    color: aliceblue;
}

.footer-links > a:hover {
    background-color: rgb(155, 191, 157);
}